
.post {
    margin: auto;
    max-width: 800px;
    padding: 1em;
}

.post p {
    line-height: 1.6em;
    margin: 1em 0;
}
.post ol {
    line-height: 1.6em;
    margin: 1em 0;
}
.post ul {
    line-height: 1.6em;
    margin: 1em 0;
}
