
.home {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.splash {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
}

.name, .title {
  margin: 0.25em;
}

.social {
  margin: 0.5em;
}

.social a {
  margin: 0.5em;
}

.posts {
  flex-grow: 1;
  min-width: 400px;
  margin-top: 1.2em;
  text-align: center;
}

.posts ul {
  margin: 1em;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.posts ul li {
  margin: 0.5em;
}

.post-series {
  margin: 1em;
}
