
.name, .title {
  margin: 0.25em;
}

.social {
  margin: 0.5em;
}

.posts {
  margin-top: 1.2em;
  text-align: center;
}

.posts ul {
  margin: 1em;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.posts ul li {
  margin: 0.5em;
}

.post-series {
  margin: 1em;
}
