
<!-- App Container -->
<div class="app-container" [ngStyle]="containerStyle()">

  <!-- Top Section -->
  <div class="section-wrapper" [ngStyle]="sectionWrapperStyle('top')">
    <div class="section" [ngStyle]="sectionStyle('top')">

      <!-- Title Logo / Home -->
      <div class="app-title" [ngStyle]="titleStyle('top')">
        <a routerLink="/" [ngStyle]="titleLinkStyle">
          <h1 [ngStyle]="titleHeadingStyle()">
            {{heading}}
          </h1>
        </a>
      </div>

      <!-- Login -->
      <div class="app-login" [ngStyle]="loginStyle()">
        <app-login></app-login>
      </div>
    </div>
  </div>

  <!-- Bottom Section -->
  <div class="section-wrapper" [ngStyle]="sectionWrapperStyle('bottom')">
    <div class="section" [ngStyle]="sectionStyle('bottom')">

      <!-- Navigation Bar -->
      <div class="app-nav" [ngStyle]="navStyle()">
        <div class="app-navlink"
            *ngFor="let link of links"
            routerLinkActive="active"
            [ngStyle]="navlinkStyle(link)">

          <!-- Local links use Angular router -->
          <a *ngIf="!external(link)"
              routerLink="{{link.target}}"
              [ngStyle]="{'text-decoration': 'none'}">
            <h3 [ngStyle]="navlinkHeadingStyle(link)">
              {{link.text}}
            </h3>
          </a>

          <!-- Construct normal links for external targets -->
          <a *ngIf="external(link)"
              href="{{link.target}}"
              [ngStyle]="{'text-decoration': 'none'}">
            <h3 [ngStyle]="navlinkHeadingStyle(link)">
              {{link.text}}
            </h3>
          </a>

        </div>
      </div>

      <!-- Content -->
      <router-outlet>
      </router-outlet>

    </div>
  </div>
</div>
