

<div [ngStyle]="contactStyle()">

  <h2>Contact Form</h2>

  <div>
    <input [(ngModel)]="nameInput"
        [ngStyle]="nameInputStyle()"
        placeholder="name">
  </div>

  <br/>

  <div>
    <input [(ngModel)]="emailInput"
        [ngStyle]="emailInputStyle()"
        placeholder="email">
  </div>

  <br/>

  <div>
    <textarea [(ngModel)]="messageInput"
        [ngStyle]="messageInputStyle()"
        rows="20" placeholder="message">
    </textarea>
  </div>

  <br/>

  <button>Submit</button>

</div>
