
<!-- Blog Content -->
<div *ngIf="!loading" class="post-container">
  <!-- Post Heading -->
  <div class="post-header">

    <!-- Post Title -->
    <h1 *ngIf="!editable"
        class="post-title post-title-heading">
      {{post.name}}
    </h1>
    <input *ngIf="editable"
      class="post-title post-title-input"
      [(ngModel)]="post.name"/>

    <!-- Link input box (edit only) -->
    <input *ngIf="editable"
      class="post-link-input"
      [(ngModel)]="post.link"/>

    <!-- Edit Button -->
    <button *ngIf="!editable" (click)="edit()" class="post-controls-button">
      Edit
    </button>
    <!-- Save Button -->
    <button *ngIf="editable" (click)="save()" class="post-controls-button">
      Save
    </button>

  </div>

  <div *ngIf="!editable"
    class="post-content"
    [innerHTML]="content">
  </div>

  <!-- Show Markdown editor if editable -->
  <textarea #contentEditor
    *ngIf="editable"
    class="post-editor"
    [ngModel]="post.content"
    (keyup)="setPostContent(contentEditor.value)">
  </textarea>
</div>

<!-- Blog Navigation -->
<div>
  <!-- Navigation Heading -->
  <h2 class="posts-nav-header">Recent Posts</h2>

  <!-- Navigation Links -->
  <ul dir="rtl" class="posts-nav-links"
      [ngStyle]="navigationListColors()">
    <li *ngFor="let post of posts" routerLinkActive="active">
      <a routerLink="{{post.link}}" class="posts-nav-link"
          [ngStyle]="navigationPostColors(post)">
        {{post.name}}
      </a>
    </li>
  </ul>

  <!-- Create Post Button -->
  <p class="create-post-button" (click)="createPost()">
    New
  </p>
</div>
