
:host {
  width: 100%;
  margin: 0px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
}

.post-container {
  flex: 1 1 auto;
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  justify-content: flex-start;
}

.posts-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.posts-nav-header {
  text-align: right;
  margin-right: 1em;
}

.posts-nav-links {
  flex: 1 1 auto;
  min-height: 200px;
  min-width: 10em;
  text-align: right;
  overflow-y: scroll;
  list-style-position: inside;
}

.posts-nav-link {
  text-decoration: none;
}

.create-post-button {
  padding-right: 1em;
  margin-right: 1em;
  text-align: right;
}
