
<!-- Blog Content -->
<div *ngIf="!loading" class="post-container">

  <blog-post *ngIf="showContent()" [post]="post">
  </blog-post>

  <blog-editor *ngIf="showEditor()" [post]="post" [errors]="errors">
  </blog-editor>

</div>

<!-- Blog Navigation -->
<div class="posts-nav">
  <!-- Navigation Heading -->
  <h2 class="posts-nav-header">Recent Posts</h2>

  <!-- Navigation Links -->
  <ul dir="rtl" class="posts-nav-links"
      [ngStyle]="navigationListColors()">
    <li *ngFor="let post of posts" routerLinkActive="active">
      <a routerLink="{{post.link}}" class="posts-nav-link"
          [ngStyle]="navigationPostColors(post)">
        {{post.name}}
      </a>
    </li>
  </ul>

  <!-- Create Post Button -->
  <p class="create-post-button" (click)="createPost()">
    New
  </p>
</div>
