
<!-- App Container -->
<div [ngStyle]="containerStyle()">

  <!-- Top Section -->
  <div [ngStyle]="sectionWrapperStyle('top')">
    <div [ngStyle]="sectionStyle('top')">
      <a routerLink="/" [ngStyle]="{'text-decoration': 'none'}">
        <h1 [ngStyle]="titleStyle()">
          {{heading}}
        </h1>
      </a>
    </div>
  </div>

  <!-- Bottom Section -->
  <div [ngStyle]="sectionWrapperStyle('bottom')">
    <div [ngStyle]="sectionStyle('bottom')">

      <!-- Navigation Bar -->
      <div [ngStyle]="navStyle()">
        <div *ngFor="let link of links"
            routerLinkActive="active"
            [ngStyle]="navlinkStyle(link)">
          <a routerLink="{{link.target}}"
              [ngStyle]="{'text-decoration': 'none'}">
            <h3 [ngStyle]="navlinkHeadingStyle(link)">
              {{link.text}}
            </h3>
          </a>
        </div>
      </div>

      <!-- Content -->
      <div [ngStyle]="contentStyle()">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>
