/* This CSS is common to all pages */

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.navitem {
  padding: 3px 10px;
}
.navitem.is-active {
  background-color: #eee;
}
