
.posts {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.posts h2 {
  margin-bottom: 1em;
}

.posts h3 {
  text-align: center;
}
