
.post {
    margin: auto;
    padding: 1em;
    max-width: 800px;
    text-align: justify;
}

.post p {
    font-size: 1.2em;
    line-height: 1.6em;
    margin: 1em 0;
}

.post ol {
    font-size: 1.2em;
    list-style-type: decimal;
}

.post ol li {
    margin: 0.5em 0;
}

.post .quote {
    font-style: italic;
    margin: 1em 0;
}
