<resume-skills></resume-skills>

<resume-projects></resume-projects>

<hr/>
<h2>Experience</h2>
<hr/>

<div class="position">
  <h3 [ngStyle]="{ 'clear': 'left' }">
    Synopsys (formerly Coverity)
  </h3>
  <h4 [ngStyle]="{ 'float': 'right' }">
    2017/07 - Present
  </h4>
  <h4>Senior Software Engineer I</h4>
</div>

<div class="position">
  <h4 [ngStyle]="{ 'float': 'right' }">
    2016/07 - 2017/07
  </h4>
  <h4>Software Engineer II</h4>
</div>

<div class="position">
  <h4>Software Engineer I</h4>
  <h4 style="{ float: right; }">2015/07 - 2016/07</h4>
</div>

<div class="position">
  <h4>Junior Software Engineer</h4>
  <h4 style="{ float: right; }">2014/07 - 2015/07</h4>
</div>



<div class="position-summary col-md-12">
  <ul>
    <li>
      Developed infrastructure and tools to improve automation and
      monitoring of AWS cloud environments.
    </li>
    <li>
      Carried out deploys, upgrades, maintenance, debugging,
      and various other operational tasks as required.
    </li>
  </ul>
</div>

<div class="position row">
  <div class="position-employer col-lg-3">
    <h3>Best Buy (Geek Squad)</h3>
  </div>
  <div class="position-title col-lg-3">
    <h3>Technical Support Agent</h3>
  </div>
  <div class="position-timeframe col-lg-3 pull-right">
    <h3>2013/10 - 2014/07</h3>
  </div>

  <div class="position-summary col-lg-12">
    <ul>
      <li>
        Provided Remote Desktop Assistance to Geek Squad customers;
        performing virus removals, setup/troubleshooting of software and
        peripherals, and other tasks as required.
      </li>
    </ul>
  </div>
</div>

<div class="position row">
  <div class="position-employer col-lg-3">
    <h3>Shaw</h3>
  </div>
  <div class="position-title col-lg-3">
    <h3>Carrier Services Representative</h3>
  </div>
  <div class="position-timeframe col-lg-3 pull-right">
    <h3>2012/04 - 2012/08</h3>
  </div>

  <div class="position-summary col-lg-12">
    <ul>
      <li>
        Processed telephone service porting orders submitted by other
        carriers on behalf of customers in accordance with Local Number
        Portability guidelines set forth by the CRTC.
      </li>
      <li>
        Developed a tool to automate several unnecessary manual steps in
        the existing process, significantly increasing throughput.
      </li>
    </ul>
  </div>
</div>

<div class="position row">
  <div class="position-employer col-lg-3">
    <h3>Shaw</h3>
  </div>
  <div class="position-title col-lg-3">
    <h3>Technical Support Representative</h3>
  </div>
  <div class="position-timeframe col-lg-3 pull-right">
    <h3>2011/10 - 2012/04</h3>
  </div>

  <div class="position-summary col-lg-12">
    <ul>
      <li>
        Provided phone support for Shaw's cable television, phone, and
        internet services.
      </li>
      <li>
        Developed a reputation for solving tough problem and often
        took escalations from teammates.
      </li>
    </ul>
  </div>
</div>

<div class="position row">
  <div class="position-employer col-lg-3">
    <h3>Ericsson</h3>
  </div>
  <div class="position-title col-lg-3">
    <h3>Software Engineering Co-op</h3>
  </div>
  <div class="position-timeframe col-lg-3 pull-right">
    <h3>2011/01 - 2011/08</h3>
  </div>

  <div class="position-summary col-lg-12">
    <ul>
      <li>
        Assisted with writing tests for several Unix daemons implemented in
        C.
      </li>
      <li>
        Co-developed a testing framework and IPC harness which greatly
        increased the ease and speed of iterating on unit tests.
      </li>
    </ul>
  </div>
</div>

<hr/>

<h3 class="centered">References Available Upon Request</h3>
