<div class="row">
  <hr/>
  <h2>Profile</h2>
  <hr/>
</div>

<div class="row">
  <div class="col-lg-12 profile">
    <p>
      For the better part of the last three years, I have been
      exploring the exciting and fast-moving world of infrastructure and
      deployment automation!  I am familiar with a wide array of systems,
      languages, frameworks, and tools; and I am adept at picking
      up new technologies and code-bases extremely quickly.
    </p>
    <p>
      Having first fallen in love with Linux in my early teens, I've
      continued to use it and learn about it ever since.  I have
      experience with virtually all major distributions in one form or
      another, and have worked with virtualization and containerization
      technologies in a variety of flavors both personally and
      profesionally.
    </p>
    <p>
      Life isn't all about work, though!  When not writing or debugging
      code, I can usually be found learning about math or physics, playing
      guitar, sailing, skiing, hiking, camping, or sitting down for a
      game with some friends!
    </p>
  </div>
</div>

<div class="row">
  <hr/>
  <h2>Skills</h2>
  <hr/>
</div>

<div class="row">
  <div class="skill col-lg-2">
    <h3>Programming Languages</h3>
    <ul>
      <li>Bash</li>
      <li>Elixir</li>
      <li>Python</li>
      <li>C/C++</li>
      <li>Java</li>
      <li>HTML5/CSS3/Javascript</li>
      <li>Etc...</li>
    </ul>
  </div>
  <div class="skill col-lg-2">
    <h3>Development Tooling</h3>
    <ul>
      <li>Git</li>
      <li>Vim</li>
      <li>Atom</li>
      <li>Sublime</li>
      <li>Eclipse</li>
      <li>Visual Studio</li>
      <li>Etc...</li>
    </ul>
  </div>
  <div class="skill col-lg-2">
    <h3>Operating Systems</h3>
    <ul>
      <li>Linux (Debian Derivatives)</li>
      <li>Linux (Redhat Derivatives)</li>
      <li>Mac OS X</li>
      <li>Windows</li>
      <li>BSD</li>
      <li>Etc...</li>
    </ul>
  </div>
  <div class="skill col-lg-2">
    <h3>Databases</h3>
    <ul>
      <li>PostgreSQL</li>
      <li>MySQL</li>
      <li>SQLite</li>
      <li>MongoDB</li>
      <li>Erlang Term Storage</li>
      <li>Etc...</li>
    </ul>
  </div>
  <div class="skill col-lg-2">
    <h3>Infrastructure</h3>
    <ul>
      <li>Runc</li>
      <li>Systemd</li>
      <li>ZFS</li>
      <li>Squid</li>
      <li>Exim4</li>
      <li>Etc...</li>
    </ul>
  </div>
  <div class="skill col-lg-2">
    <h3>Build and Test</h3>
    <ul>
      <li>Make</li>
      <li>ExUnit</li>
      <li>Mix</li>
      <li>Brunch</li>
      <li>Maven</li>
      <li>Gradle</li>
      <li>Etc...</li>
    </ul>
  </div>
</div>

<div class="row">
  <hr/>
  <h2>Projects</h2>
  <hr/>
</div>

<div class="row">
  <div class="project col-md-6">
    <h4>Testing Framework (Ericsson)</h4>

    <p>
      Proprietary testing framework for components of a router OS.
    </p>

    <ul>
      <li>C</li>
      <li>Python</li>
      <li>Sockets</li>
      <li>Linux</li>
      <li>Networking</li>
      <li>Command Line</li>
    </ul>
  </div>

  <div class="project col-md-6">
    <h4>Data-entry client for domain-specific task (Shaw)</h4>

    <p>
      Java client to automate data-entry for completing responses to phone
      number porting requests received from other carriers.
    </p>

    <ul>
      <li>Java</li>
      <li>Swing</li>
      <li>Selenium</li>
    </ul>
  </div>

  <div class="project col-md-6">
    <h4>Remote Control for VLC</h4>

    <p>
      Web-based remote control interface for VLC.
    </p>

    <ul>
      <li>Ruby</li>
      <li>Rails</li>
      <li>Telnet</li>
      <li>Sockets</li>
    </ul>
  </div>

  <div class="project col-md-6">
    <h4>Home Server (v1)</h4>

    <p>
      Personal server offering a variety of local network services.
    </p>

    <ul>
      <li>Arch Linux</li>
      <li>LVM</li>
      <li>RAID</li>
      <li>NFS</li>
      <li>Samba</li>
    </ul>
  </div>

  <div class="project col-md-6">
    <h4>Home Server (v2)</h4>

    <p>
      Personal server offering a variety of local network services.
    </p>

    <ul>
      <li>Arch Linux (hypervisor)</li>
      <li>qemu/kvm</li>
      <li>ZFS</li>
      <li>Debian (guest)</li>
      <li>Windows 10 (guest)</li>
      <li>PCI-E Passthrough</li>
      <li>NAT Firewall/Router (FireQOS)</li>
      <li>Traffic Shaping (FireHOL)</li>
      <li>Metrics and Monitoring (Netdata)</li>
      <li>Log collection with tagging (journald)</li>
      <li>Log aggregation (FluentD)</li>
      <li>Log centralization (Elasticsearch)</li>
      <li>Log viewing (Kibana)</li>
    </ul>
  </div>
</div>

<div class="row">
  <hr/>
  <h2>Experience</h2>
  <hr/>
</div>

<div class="position row">
  <div class="position-employer col-md-3">
    <h4>Synopsys (formerly Coverity)</h4>
  </div>
  <div class="position-title col-md-3">
    <h4>Junior Software Engineer</h4>
  </div>
  <div class="position-timeframe col-md-3 pull-right">
    <h4>2014/07 - 2015/07</h4>
  </div>
</div>

<div class="position row">
  <div class="position-employer col-md-3">
  </div>
  <div class="position-title col-md-3">
    <h4>Software Engineer I</h4>
  </div>
  <div class="position-timeframe col-md-3 pull-right">
    <h4>2015/07 - 2016/07</h4>
  </div>
</div>

<div class="position row">
  <div class="position-employer col-md-3">
  </div>
  <div class="position-title col-md-3">
    <h4>Software Engineer II</h4>
  </div>
  <div class="position-timeframe col-md-3 pull-right">
    <h4>2016/07 - 2017/07</h4>
  </div>
</div>

<div class="position row">
  <div class="position-employer col-md-3">
  </div>
  <div class="position-title col-md-3">
    <h4>Senior Software Engineer I</h4>
  </div>
  <div class="position-timeframe col-md-3 pull-right">
    <h4>2017/07 - Present</h4>
  </div>

  <div class="position-summary col-md-12">
    <ul>
      <li>
        Developed infrastructure and tools to improve automation and
        monitoring of AWS cloud environments.
      </li>
      <li>
        Carried out deploys, upgrades, maintenance, debugging,
        and various other operational tasks as required.
      </li>
    </ul>
  </div>
</div>

<div class="position row">
  <div class="position-employer col-lg-3">
    <h4>Best Buy (Geek Squad)</h4>
  </div>
  <div class="position-title col-lg-3">
    <h4>Technical Support Agent</h4>
  </div>
  <div class="position-timeframe col-lg-3 pull-right">
    <h4>2013/10 - 2014/07</h4>
  </div>

  <div class="position-summary col-lg-12">
    <ul>
      <li>
        Provided Remote Desktop Assistance to Geek Squad customers;
        performing virus removals, setup/troubleshooting of software and
        peripherals, and other tasks as required.
      </li>
    </ul>
  </div>
</div>

<div class="position row">
  <div class="position-employer col-lg-3">
    <h4>Shaw</h4>
  </div>
  <div class="position-title col-lg-3">
    <h4>Carrier Services Representative</h4>
  </div>
  <div class="position-timeframe col-lg-3 pull-right">
    <h4>2012/04 - 2012/08</h4>
  </div>

  <div class="position-summary col-lg-12">
    <ul>
      <li>
        Processed telephone service porting orders submitted by other
        carriers on behalf of customers in accordance with Local Number
        Portability guidelines set forth by the CRTC.
      </li>
      <li>
        Developed a tool to automate several unnecessary manual steps in
        the existing process, significantly increasing throughput.
      </li>
    </ul>
  </div>
</div>

<div class="position row">
  <div class="position-employer col-lg-3">
    <h4>Shaw</h4>
  </div>
  <div class="position-title col-lg-3">
    <h4>Technical Support Representative</h4>
  </div>
  <div class="position-timeframe col-lg-3 pull-right">
    <h4>2011/10 - 2012/04</h4>
  </div>

  <div class="position-summary col-lg-12">
    <ul>
      <li>
        Provided phone support for Shaw's cable television, phone, and
        internet services.
      </li>
      <li>
        Developed a reputation for solving tough problem and often
        took escalations from teammates.
      </li>
    </ul>
  </div>
</div>

<div class="position row">
  <div class="position-employer col-lg-3">
    <h4>Ericsson</h4>
  </div>
  <div class="position-title col-lg-3">
    <h4>Software Engineering Co-op</h4>
  </div>
  <div class="position-timeframe col-lg-3 pull-right">
    <h4>2011/01 - 2011/08</h4>
  </div>

  <div class="position-summary col-lg-12">
    <ul>
      <li>
        Assisted with writing tests for several Unix daemons implemented in
        C.
      </li>
      <li>
        Co-developed a testing framework and IPC harness which greatly
        increased the ease and speed of iterating on unit tests.
      </li>
    </ul>
  </div>
</div>

<hr/>

<h4 class="centered">References Available Upon Request</h4>
